<variant-modal #variantModalRef></variant-modal>
<div *ngIf="tableType === TableTypeEnum.pagination;else scrollTable">
  <mui-datatable *ngIf="variants.length>0" [columns]="columns" [menuItems]="menuItems" [data]="variants"
                 [title]="'Variants'" [pageSize]="10" [pageSizeOptions]="[50,100,200,1000]"
                 (menuItemClicked)="menuItemClicked($event)" (pageChanged)="onPageChangeEvent($event)">
  </mui-datatable>
</div>
<ng-template #scrollTable>
  <mui-scrolling-table [data]="variantsSignal()" [columns]="columns" [menuItems]="menuItems" [title]="'Variants'"
                       (menuItemClicked)="menuItemClicked($event)" (endOfPageReached)="onEndOfPageReached()"
                       [defaultValue]="100">
  </mui-scrolling-table>
</ng-template>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
